<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790678498356-87vv38upfleujjacl0o02ob5sli49gbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790678498356-87vv38upfleujjacl0o02ob5sli49gbp</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ_A9OMjPYZr5qG2HSzQF5GLGk7g1_yEg</string>
	<key>GCM_SENDER_ID</key>
	<string>790678498356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cpm.psiholog.bea.gyarmati</string>
	<key>PROJECT_ID</key>
	<string>psychology-111e5</string>
	<key>STORAGE_BUCKET</key>
	<string>psychology-111e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790678498356:ios:9eaced7cae7f8503e8ae61</string>
</dict>
</plist>